kind: Service
apiVersion: v1
metadata:
  name: naas-admin-token-server
  namespace: nilorg
  labels:
    app: naas-admin
spec:
  selector:
    app: naas-admin
    service: naas-admin-token-server
    version: v1
  ports:
    - name: http-8081
      port: 8081
      protocol: TCP
      targetPort: 8081
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: naas-admin-token-server
  namespace: nilorg
spec:
  selector:
    matchLabels:
      app: naas-admin
      service: naas-admin-token-server
      version: v1
  replicas: 1
  template:
    metadata:
      labels:
        app: naas-admin
        service: naas-admin-token-server
        version: v1
    spec:
      restartPolicy: Always
      imagePullSecrets:
        - name: nilorgregcred
      containers:
        - name: naas-admin-token-server
          image: nilorg.azurecr.io/naas-token-server:dev
          imagePullPolicy: Always
          ports:
            - containerPort: 8081
          env:
            - name: OAUTH2_SERVER
              value: http://naas:8080/oauth2
            - name: OAUTH2_CLIENT_ID
              value: "1000"
            - name: OAUTH2_CLIENT_SECRET
              value: "99799a6b-a289-4099-b4ad-b42603c17ffc"
            - name: OAUTH2_REDIRECT_URI
              value: http://naas-admin.nilorg.com/admin/auth/callback