{{ define "authorize.tmpl" }}
<!doctype html>
<html lang="zh-CN">

<head>
    {{ template "import.head" }}
    <title>授权</title>
</head>

<body>


    <div class="container">

        {{ if .error }}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>错误：</strong> {{ .error }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {{ else }}
        <form method="POST">
            <div class="jumbotron mt-3">
                {{ if .client_info }}
                    <div style="text-align: center;">
                        <img style="width: 100px; height: 100px;" src="{{.client_info.Profile}}" />
                        <br/>
                        <h3>{{.client_info.Name}}</h3>
                        <p>{{.client_info.Description}}</p>
                    </div>
                {{ end }}
                <h1>是否愿意代表您执行操作</h1>
                <p class="lead">授权范围</p>
                {{range $scope := .scopes}}
                    <input type="checkbox" {{if $scope.checked}}checked{{end}} name="scopes" value="{{$scope.text}}" id="scope_{{$scope.text}}">
                    <label for="scope_{{$scope.text}}">{{$scope.text}}</label>
                    <br />
                {{end}}
                <br />
                <button type="submit" class="btn btn-primary">授权</button>
            </div>
        </form>
        {{ end }}
    </div>

    {{ template "import.js" }}
</body>


</html>
{{ end }}