{{ define "authorize.tmpl" }}
<!doctype html>
<html lang="zh-CN">

<head>
    {{ template "import.head" }}
    <title>授权</title>
</head>

<body>


    <div class="container">

        {{ if .error }}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>错误：</strong> {{ .error }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {{ else }}
        <form method="POST">
            <div class="jumbotron mt-3">
                {{ if .current_user }}
                <div style="text-align: center;">
                    <img style="width: 100px; height: 100px;" src="{{.current_user.Picture}}" />
                    <br />
                    <p>{{if .current_user.Nickname}}{{.current_user.Nickname}}{{else}}{{.current_user.UserName}}{{end}}
                    </p>
                    {{if .log_back_in}}<a href="{{.log_back_in}}">切换用户</a>{{end}}
                </div>
                {{ end }}
                {{ if .client_info }}
                <div style="text-align: center;">
                    <img style="width: 100px; height: 100px;" src="{{.client_info.Profile}}" />
                    <br />
                    <a href="{{ if .client_info.Website}}{{.client_info.Website}}{{ else }}javascript:void(0){{ end }}"
                        title="{{.client_info.Description}}">{{.client_info.Name}}</a>
                </div>
                {{ end }}
                <div style="text-align: center;">
                    <p class="lead">将获得以下权限</p>
                    {{range $scope := .scopes}}
                    <input type="checkbox" {{if $scope.checked}}checked{{end}} name="scope" value="{{$scope.text}}"
                        id="scope_{{$scope.text}}">
                    <label for="scope_{{$scope.text}}">{{$scope.text}}</label>
                    <br />
                    {{end}}
                    <br />
                    <button type="submit" class="btn btn-primary">授权</button>

                    {{if .client_info.Website}}<p>授权将重定向到：{{.client_info.Website}}</p>{{ end }}
                </div>
            </div>
        </form>
        {{ end }}
    </div>

    {{ template "import.js" }}
</body>


</html>
{{ end }}