{{ define "third_bind.tmpl" }}
<!doctype html>
<html lang="zh-CN">

<head>
    {{ template "import.head" }}
    <title>绑定</title>
</head>

<body class="bg-light">

    <div class="container">
        {{ if .error }}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>错误：</strong> {{ .error }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {{ else }}
        <a href="{{ .login_uri }}" class="btn btn-primary btn-lg btn-block">登录绑定</a>
        <a href="{{ .init_uri }}" class="btn btn-primary btn-lg btn-block">初始化新账户</a>
        {{ end }}
        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">&copy; <a target="_blank" href="https://github.com/nilorg/naas">NilOrg认证授权服务平台</a></p>
        </footer>
    </div>

    {{ template "import.js" . }}
</body>

</html>
{{ end }}