{{ define "import.head" }}
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
{{ end }}

{{ define "import.js" }}
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/static/js/jquery-1.9.1.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

{{ if .geetest_enabled }}
<!-- 引入 极验官方gt.js，使用其中提供的 initGeetest 初始化函数 -->
<script src="https://static.geetest.com/static/tools/gt.js"></script>
{{ end }}

{{ end }}