{{ define "authorize.tmpl" }}
<!doctype html>
<html lang="zh-CN">

<head>
    {{ template "import.head" }}
    <title>授权</title>
</head>

<body>


    <div class="container">

        {{ if .error }}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>错误：</strong> {{ .error }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {{ end }}
        <form method="POST">
            <div class="jumbotron mt-3">
                <h1>是否愿意代表您执行操作</h1>
                <p class="lead">Check some scopes.</p>
                <label for="red">Red</label>
                <input type="checkbox" name="scopes[]" value="red" id="red">
                <label for="green">Green</label>
                <input type="checkbox" name="scopes[]" value="green" id="green">
                <label for="blue">Blue</label>
                <input type="checkbox" name="scopes[]" value="blue" id="blue">
                <br />
                <br />
                <button type="submit" class="btn btn-primary">授权</button>
            </div>
        </form>
    </div>

    {{ template "import.js" }}
</body>


</html>
{{ end }}